<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <div class="form-group">
    <label>Email</label>
    <input type="text" formControlName="email" >
  </div>
  <div style="color: red" *ngIf="loginForm.controls.email.hasError('minlength')
  && loginForm.controls.email.touched">Số lượng ký tự phải lớn hơn 4</div>
  <div style="color: red" *ngIf="loginForm.controls.email.hasError('required')
  && loginForm.controls.email.touched">Tên không được để trống</div>
  <div style="color: red" *ngIf="loginForm.controls.email.hasError('pattern')
  && loginForm.controls.email.touched">Tên email phải đúng định dạng</div>
  <div class="form-group">
    <label>Password</label>
    <input type="text" formControlName="password" >
  </div>
  <div style="color: red" *ngIf="loginForm.controls.password.hasError('minlength')
  && loginForm.controls.password.touched">Số lượng ký tự phải lớn hơn 6</div>
  <div style="color: red" *ngIf="loginForm.controls.email.hasError('required')
  && loginForm.controls.password.touched">Tên không được để trống</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
